body {
    margin: 0;
    padding: 0;
}
/*************** Header ************/
header {
    display: flex;
    flex-direction: column;
    background-color: rgb(29, 118, 192);
    width: 100%;
}
#navbar {
    display: flex;
    flex-direction: row;
    height: 3em;
}
#navbar #logo {
    margin: 10px;
}
#logo  a {
    margin-left: 20px;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}
nav {
    display: flex;
    flex: 2;
    margin: 5px;
    margin-left: 2em;
    width: 70%;
    justify-content: right;
    /* border: 1px solid blue; */
}
nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    flex-direction: row;
    padding: 8px 16px;
}
nav ul li {
    display: flex;
    justify-items: right;
    margin-top: -10px;
   
}
nav ul li a {
    margin-left: 3em;
    font-size: 16px;
    text-decoration: none;
    color: white;
    padding: 15px 16px;
}
nav ul li a.active,
nav ul li a:hover {
    background-color: rgb(221, 102, 128);
}
nav ul li p {
    margin-left: 2em;
    color: white;
}

/**************** Main *****************/
main {
    display: flex;
    flex-direction: column;
    flex: 12;
}
#container {
    display: flex;
    flex-direction: column;
}
.title {
    display: flex;
    padding: 0.5em 0;
}
h3 {
    margin: 0 auto;
    text-align: right;
    font-size: 24px;
    font-weight: 600;
}
.title h3 {
    border-bottom: 3px solid rgb(70, 143, 211);
}
.title h3 span {
    color: rgb(255, 57, 107);
}
.content_form {
    display: flex;
    flex-direction: row;
    width: 100%;
}
form {
    display: flex;
    flex-direction: column;
    margin-left: 4em;
    width: 45%;
}
.code  {
    display: flex;
}
.code select {
    height: 29px;
    width: 12%;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
.code input {
    margin-left: 10px;
    padding: 6px;
    margin-bottom: 10px;
}
.select_choise select {
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
.select_choise select option {
    font-size: 18px;
}
label {
    font-size: 17px;
    margin-bottom: 8px;
}
select {
    padding: 3px;
}

input {
    display: flex;
    padding: 5px 0;
    border: 1px solid #ccc;
    margin-bottom: 2px;
}
.choise {
    display: flex;
}
.choise input {
    margin-bottom: 15px;
}
.image {
    display: flex;
    width: 35%;
}
.image img {
    height: 240px;
    width: 380px;
    margin-top: 3em;
    margin-left: 8em;
}
.button_appointment {
    display: flex;
    justify-content: center;
}

.button_appointment button {
    margin-top: 25px;
    padding: 10px 50px;
    background-color: rgb(255, 57, 107);
    border: none;
    margin-bottom: 2em;
}
.button_appointment button a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
/***************** Footer *************/
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(29, 118, 192);
}
footer p {
    font-size: 15px;
    color: white;
}